*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: black;
    font-family: 'chivo mono', monospace;
    
}



.head {
    position: absolute;
    left: 50%;
    top: 40%;
    Transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
}



h1 {
    font-size: 20px;
  }


th {
    font-size: 10px;
}
  





.toggle .button {
    pointer-events: none;
}

.background{
    width: 100%;
    height: 100%;
    background-color: black;
}

.toggle .incover {
   opacity: 0.5;
    z-index: -1;
}

.nav {
    position: absolute;
    top:1000px;
    width: 10%;
    background-color: black;
    justify-content: space-between;

}

.nav-links ul img{
    width: 1500px;
    height: 100px;
}


.nav-links {
      color: #ffffff;
      text-align: left;
      background-color: aliceblue;
    width: 10%;
}
  
.nav-links ul li {
      list-style: none;
      display:flex;
      flex-direction: column;
      position: relative;
      padding: 1px 1% ;
      border: solid 5px teal;  
      width: 100%; 

}
  
.nav-links a {
      color: teal;
      text-decoration: none;
      font-size: 20px;
      font-family: 'chivo mono', monospace;
      flex: 1;
      cursor: pointer;;
     
}
  
.nav-links ul li a::after {
      content: '';
      width: 0%;
      height: 6px;
      background: teal;
      display: block;
      margin:auto;
      transition: 0.5s;
  
}
  
.nav-links ul li a:hover::after{
      width: 100%;
  
}

@media (max-width: 1000px) {
    
    *{
        overflow-x:hidden;
        overflow-y:hidden;
    }
    .head{
        position: absolute;
        left: 50%;
        top: 40%;
        Transform: translate(-50%, -50%);
        width: 300px;
        overflow-x: hidden;

    }
    
    

      
    
    
    

}
